/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

nav {
    background-color: #34495e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffa500;
}

#wrapper {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #34495e;
}

.form {
    text-align: center;
}

.guessField {
    padding: 10px;
    margin: 0 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
}

.guessSubmit {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.guessSubmit:hover {
    background-color: #2980b9;
}

.resultParas {
    margin-top: 20px;
}

.resultParas p {
    margin: 5px 0;
    color: #2c3e50;
    font-size: 16px;
}

.lowOrHi {
    font-weight: bold;
    color: #2ecc71;
}
